{
    "CN": "etcd",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
        "names": [{
        "C": "IN",
        "L": "Navi Mumbai",
        "O": "RIL",
        "OU": "Operations",
        "ST": "Maharashtra"
    }]
 }
