{
    "CN": "etcd",
    "key": {
        "algo": "ecdsa",
        "size": 256
    },
    "names": [
        {
            "C": "IN",
            "L": "Navi Mumbai",
            "ST": "MH"
        }
    ]
}
