{
"insecure-registries": ["10.26.61.34:8083","10.26.61.34:8084","10.26.61.51:8085","10.21.83.57:8083","10.21.200.87:8083"],
"data-root" : "/app/data/docker-images/",
"exec-opts": ["native.cgroupdriver=systemd"],
"log-opts": {
  "max-size": "1g"
  }
}


